<nav class="pa3 pa4-ns">
  <a class="link dim black b f6 f5-ns dib mr3" href="#" title="">Jane Leonard</a>
  <a class="link dim gray f6 f5-ns dib mr3" href="#" title="Home">Home</a>
  <a class="link dim gray f6 f5-ns dib mr3" href="/about" title="About">About</a>
  <a class="link dim gray f6 f5-ns dib mr3" href="#" title="Experience">Experience</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="/ethical_principle" title="Ethical Principle">Ethical Principle</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="#" title="Ethical Principle">Social Work Perspective</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="#" title="Ethical Principle">Advocacy and Life-Long Learning</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="#" title="Blog">Blog</a>
</nav>